name: Deploy Backend

on:
  push:
    branches: ["master", "main"]
    paths:
      - "backend/**"
      - "shared/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push Backend to Release Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: release-backend # The branch Hostinger will pull from
          FOLDER: backend # The folder to push as root
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Backend Deploy: {msg}" # Commit message
